@import "libs/bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
@import "libs/fontawesome/scss/font-awesome.scss";

#panel {
	background-color: lightblue;
}

#display {
	background-color: lightgrey;
}

html, body, #content
{
    height:100% !important;
}

#content
{
    display:table;
    width: 100%;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.row
{
    height: 100%;
    display: table-row;
}

.col-md-3.no-float, .col-md-9.no-float {
    float: none;
}

.col-md-3
{
    width: 20%;
    display: table-cell;
}

.col-md-9
{
    width: 80%;
    display: table-cell;
    .input-group {
        position: absolute;
        bottom: 0;
        left: 0;
    }
}
