@import "../../node_modules/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "../../node_modules/font-awesome/scss/font-awesome.scss";

html,
body {
  width: 100%;
  height: 100%;
  background: #FFFFD9;
}

/* Header */
.fancy-background {
  background: url(/static/imgs/parrot-facets.jpg) no-repeat center center scroll;
}

.header {
  display: table;
  position: relative;
  width: 100%;
  height: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  #header-icon h1 i {
    color: #00008E;
  }
}

.text-vertical-center {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.panel-transparent {
    background: none;
}

.panel-transparent .panel-heading{
    background: rgba(122, 130, 136, 0.2)!important;
}

.panel-transparent .panel-body{
    background: rgba(46, 51, 56, 0.2)!important;
}
